<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        a {
            text-decoration: none;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        #film_id > li {
            float: left;
            width: 15%;
        }

        #film_id > li img {
            width: 150px;
            height: 200px;
        }

        #film_id > li p {
            font-size: 12px;
        }


    </style>

</head>
<body>
<div>
    <ul id="film_id">
        {% for film in films %}
            <li>
                <a href="{% url 'detail' film.id %}">
                    <img src="/static/{{ film.image }}">
                    <p>{{ film.name }}</p>
                    <p>{{ film.on_decade }}-{{ film.type_name }}</p>
                </a>
            </li>
        {% endfor %}


    </ul>

</div>


</body>
</html>